<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Webaddict</title>
  {% endif %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='frontend/img/logo.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{{ url_for('static', filename='frontend/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='frontend/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='frontend/lib/animate/animate.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static',filename='frontend/css/style.css') }}" rel="stylesheet">

</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><img src="{{ url_for('static', filename='frontend/img/logo.png') }}"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#features">Services</a></li>
          <li><a href="#portfolio">Potli</a></li>
          <li><a href="#contact">Get In Touch</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  {% block content %}

  {% endblock %}

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights WebAddict. All rights reserved.</p>
      </div>
    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='frontend/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='frontend/lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='frontend/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='frontend/lib/wow/wow.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
