{% extends 'dashboard/admin.html' %}
{% block content %}


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            
          </div>
          <!-- Content Row -->
          <div class="row">

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">
                  </div>
                  <p>Currently you have added _ projects and total projects are 28.</p>
                  <a target="_blank" href="">Browse All &rarr;</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                </div>
                <div class="card-body">
                  <p>There are many users with different roles. Only Admin can see.</p>
                  <a target="_blank" href="">Browse Users &rarr;</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}